:root {
  --color-primary: #bdc3b7;
  --color-primary-dark: #45514b;
  --color-secondary: #fcec54;
  --color-secondary-accent: #fca42c;
  --color-background: #d0cccc;
  --color-other: #60bc44;
  --color-other-2: #04bcfc;

  --font-primary: "Zeitung", sans-serif;
  --font-secondary: "Textbook New", sans-serif;
  --font-body: "Study", serif;
}

html {
  font-family: var(--font-primary);
}
