.btn {
  background-color: var(--color-primary);
  border: var(--color-background);
  color: var(--color-primary-dark);
}

.btn:hover {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary-accent);
}

.btn-ghost {
  background-color: transparent;
  color: var(--color-primary-dark);
}

.btn-ghost:hover {
  color: var(--color-primary);
}

.btn-light {
  background-color: var(--color-other-2);
  border-color: var(--color-other-2);
  color: var(--color-primary);
}

.btn-sign-in {
  background-color: #000;
  border-color: #000;
  color: #fff;
}

.btn-sign-in:hover {
  background-color: #d9d9d9;
  border-color: #d9d9d9;
  color: #000;
}

.btn-numericals {
  color: #000;
}

.btn-ghost:hover {
  background-color: #e6e6e6;
  color: #000;
}
