<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="https://use.typekit.net/ozz7mke.css">
  <title>Checkout</title>
</head>
<body>
  <div class="checkout">
    <h1>List of Items</h1>
    <div class="item-1 grid">
      <img class="unit xs-1 s-1 m-1-2 l-1-2 island-1-2" src="/images/duck-egg.jpg" alt="">
      <ul class="unit xs-1 s-1 m-1-2 l-1-2 tera">
        <li>Name: Duck Egg</li>
        <li>Quanity: 12</li>
        <li>Price: $10.80</li>
      </ul>
    </div>
    <div class="item-2 grid">
      <img class="unit xs-1 s-1 m-1-2 l-1-2 island-1-2" src="/images/emu-egg.jpg" alt="">
      <ul class="unit xs-1 s-1 m-1-2 l-1-2 tera">
        <li>Name: Emu Egg</li>
        <li>Quanity: 2</li>
        <li>Price: $180.00</li>
      </ul>
    </div>
    <div class="item-3 grid">
      <img class="unit xs-1 s-1 m-1-2 l-1-2 island-1-2" src="/images/turkey-egg.jpg" alt="">
      <ul class="unit xs-1 s-1 m-1-2 l-1-2 tera">
        <li>Name: Turkey Egg</li>
        <li>Quanity: 5</li>
        <li>Price: $10.00</li>
      </ul>
    </div>
    <h2 class="right">Total: $20.80</h2>
  </div>
</body>
</html>
