<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="https://use.typekit.net/ozz7mke.css">
  <title>Home</title>
</head>
<body>
  <div class="">
    {% pattern banner/banner-1 %}
    {% pattern navigation/home %}
  </div>
  <div class="">
    {% pattern banner/banner-2 %}
    {% pattern navigation/banner-info %}
  </div>
  <div class="">
    {% pattern banner/banner-3 %}
    {% pattern navigation/banner-products %}
  </div>
  <div class="">
    {% pattern banner/banner-4 %}
    {% pattern navigation/products %}
  </div>
  <div class="">
    {% pattern banner/banner-5 %}
    {% pattern navigation/contact %}
  </div>
</body>
</html>
